.heroSection{
    background-color:#495e57;
    height: 330px;
    margin-top: 20px;
    padding: 3px;
}
.littleLemon1{
    margin-left: 20%;
    color: #f4ce14;
    font: 40pt karla;
}
.location1{
    margin-left: 20%;
    margin-top: -40px;
    color: white;
    font: 18pt karla;
}
.description{
    margin-left: 20%;
    color: white;
    font: normal;
    font-size: 16pt;
    max-width: 350px;
    line-height: 1;
}
button{
    width:150px;
    height:40px;
    margin-left: 20%;
    font-weight: bold ;
    background-color: #f4ce14;
    border-radius: 12px;
}
button:hover {
    background-color: #c2a720;
  }
#foodImg{
    border-radius: 20px;
    object-fit: cover;
    height: 30vh;
    width:17vw;
    min-width: 250px;
    max-width: 400px;
    top:10%;
    right:20%;
    position: absolute;
}
@media screen and (max-width: 1000px)  {
    #foodImg {display: none}
  };
