.nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    margin-left: 20%;
  }

  .menuIcon {
    display: none;
    position: fixed;
    right: 0%;
    top:33px;
    border: none;
  }

.navbar-collapse {
    display: flex;
    list-style: none;
    
  }

.navbar-collapse a{
    font:15px Verdana;
    font-weight: bold;
    color: black;
    text-decoration-line: none;
    margin-left: 20px;
}



@media screen and (max-width: 1000px){
    .menuIcon {
        display: block;
      }
      .navbar-collapse {
        flex-direction: column;
        position: fixed;
        top: 70px;
        right: 0%;
        width: 20%;
        background-color: rgb(148, 190, 187);
        padding: 0 10px;
        text-align: center;
        overflow: hidden;
        max-height: 0; /* Start with 0 height */
        transition: max-height 0.3s ease-in-out;
      }
      .navbar-collapse li{
        border-bottom: 1px solid black;
        padding: 5px;
      }
      .navbar-collapse.show {
        display: flex;
        max-height: 600px;
      }
      .navbar-collapse :hover {
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        color: wheat;
      }
}
